<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="dotnet" arguments=".\RajMango.WebApi.dll" stdoutLogEnabled="true" stdoutLogFile=".\logs\stdout" hostingModel="outofprocess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="BKASH__APPKEY" value="RDkDPeFMf6cGxdOhkG2xekextc" />
          <environmentVariable name="BKASH__APPSECRET" value="5MKPKWpTsNSsymqRwXudyB0gSLMbAHCeKED3r4A4vTxOl99cr45o" />
          <environmentVariable name="BKASH__USERNAME" value="01323993388" />
          <environmentVariable name="BKASH__PASSWORD" value="WFs>#6l{!>R" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
<!--ProjectGuid: ef7c154d-d5b4-4dd3-a0f5-3e7e23123874-->